@media (prefers-reduced-motion: no-preference){
    *{
    scroll-behavior: smooth;
    }
}
:root {
    --white: #e6dede;
    --red: #b62437;
    --blue: #3d4d77;
    --gray: #222932;
    --background1: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, var(--gray) 78.9%)
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: var(--white);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--red);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
}
h1, h2, p{
    margin-top: 0;
    font-size: 2;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
    font-size: 3.2rem;
}

#navbar {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

#welcome-section {
    background: var(--background1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section h1 {
    margin-bottom: 0;
}

#welcome-section p {
    font-size: 1.8rem;
    color: var(--red);
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

#projects {
    background: var(--blue);
    padding: 4rem 2.5rem;
}
#projects h2{
    font-size: 2.5rem;
    max-width: 600px;
    border-bottom: 2px solid;
    margin: 2rem auto;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    gap: 25px;
}
.project-tile{
    background-color: var(--gray);
}
.project-title{
    font-family: "Poppins", sans-serif;
    text-align: center;
}
#contact {
    background: var(--background1);
    height: 20vh;
    text-align: center;
    padding: 15% 0;
}
.project-img{
    width:100%;
    height: 200px;
    object-fit:cover;
}
#contact h1{
    margin-bottom: 0;
}
#contact p{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4% 20%;
}
footer {
    display: flex;
    justify-content: space-between;
    background: var(--background1);
    border-top: 4px solid var(--red);
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 750px){
    .link{
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
    }
}